@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*,
*:before,
*:after {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

body {
  font-family: "Momo Trust Display", sans-serif;
}

h1,
h2 {
  margin: 0;
  cursor: default;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}
